<ion-view view-title="Gallery">
   <div class="tabs-striped tabs-top tabs-assertive">
    	<div class="tabs">
         <a href="#/app/gallery" class="tab-item active">
           <i class="icon ion-grid"></i>
           Grid
         </a>
         <a href="#/app/gallerylist" class="tab-item">
           <i class="icon ion-ios-list"></i>
           Grid list
         </a>
    	</div>
  	</div>
   <ion-content class="has-subheader post-content gallery-top">
   	<ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="doRefresh()">
     </ion-refresher>
		<div ng-repeat="item in items" ng-if="$index%3==0" class="row assertive">

			<div class="col col-33 gallery-small" ng-show="items[$index].image">
				<a class="item item-image" ng-click="showImage($index);">
            	<img ng-src="{{items[$index].image}}"/>
				</a>
			</div>

			<div class="col col-33 gallery-small" ng-show="items[$index + 1].image">
				<a class="item item-image" ng-click="showImage($index + 1);">
            	<img ng-src="{{items[$index + 1].image}}"/>
				</a>
			</div>
            
			<div class="col col-33 gallery-small" ng-show="items[$index + 2].image">
				<a class="item item-image" ng-click="showImage($index + 2);">
            	<img ng-src="{{items[$index + 2].image}}"/>
				</a>
			</div>

		</div>
      <ion-infinite-scroll
       ng-if="postsCompleted == false"
       on-infinite="getPosts()"
       distance="10%">
     </ion-infinite-scroll>
   </ion-content>
   
</ion-view>