<?xml version='1.0' encoding='utf-8'?>
<widget id="org.taochan.zenshoquotes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Zensho Quotes</name>
    <description>
        Quotes of Zen-Master Zensho W. Kopp
    </description>
    <author email="anfrage@tao-chan.de" href="http://tao-chan.org">
        Zen-Center Tao Chan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <engine name="ios" spec="~4.3.1" />
    <engine name="android" spec="~6.0.0" />
</widget>
